p{
  color: red;
}

h1 {
    font-family: 'Neucha', Helvetica, sans-serif;
    font-size: 2.0rem; 
    color: blue;
}

body {
    font-family: 'IBM Plex Serif', Georgia, serif;
    font-size: 1rem;
    line-height: 1.5;
}

.copyright {
    padding: 32px;
    text-align: center;
}

.logo{
  height: 40px;
  width: 40px; 
}

.footimg{
  width: 100%;
}
