

a{
  color: yellow;
}

a:hover{
 color: red; 
 background-color: yellow;
}

h1 {
    font-family: 'Neucha', Helvetica, sans-serif;
    font-size: 2.0rem; 
    color: yellow;
}

body {
    font-family: 'IBM Plex Serif', Georgia, serif;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.5;
    background-image: url("../img/bkgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#copyright {
    padding: 32px;
    text-align: center;
}

.logo{
  height: 40px;
  width: 40px; 
}

.footimg{
  width: 100%;
  margin: 0;
}
